DATABASE_URL="postgresql://delivest:delivest@localhost:5432/delivest?schema=public"

DB_HOST=localhost
DB_PORT=5432
DB_USER=delivest
DB_PASSWORD=delivest
DB_NAME=delivest

REDIS_HOST=localhost
REDIS_PORT=6379

PHOTO_EDITOR_QUEUE_NAME=photo-editor

STORAGE_PORT=9000
STORAGE_USER=minioadmin
STORAGE_PASSWORD=minioadmin
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET_NAME=delivest
STORAGE_ENDPOINT_PUBLIC=http://localhost:9000
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-east-1

NODE_ENV=development

JWT_REFRESH_SECRET_CLIENT=r4t5y6
JWT_ACCESS_SECRET_CLIENT=q1w2e3
JWT_ACCESS_TTL_SECONDS_CLIENT=900
JWT_REFRESH_TTL_SECONDS_CLIENT=604800

JWT_REFRESH_SECRET_STAFF=r4t5y6
JWT_ACCESS_SECRET_STAFF=q1w2e3
JWT_ACCESS_TTL_SECONDS_STAFF=900
JWT_REFRESH_TTL_SECONDS_STAFF=604800

# px6.me
PROXY_URL=http://vvYnpS:XRKFaA@217.29.62.154:8000

# zvonok.com
ZVONOK_PUBLIC_KEY=1d9356292e9d74250e05bbb3e686288fe
ZVONOK_CAMPAIGN_ID=1732336482

PORT=3000