DATABASE_URL="postgresql://delivest:delivest@localhost:5432/delivest?schema=public"

DB_HOST=localhost
DB_PORT=5432
DB_USER=delivest
DB_PASSWORD=delivest
DB_NAME=delivest

JWT_REFRESH_SECRET=r4t5y6
JWT_ACCESS_SECRET=q1w2e3
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800

PORT=3000